@import url('./common.css');

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.75)), url("../assets/login-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    z-index: 1;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(130, 87, 229, 1);
    padding-left: 20px;
    background-color: var(--primary-dark);
}

.header-menu {
    display: none;
    color: white;
    font-size: 0.75rem;
}

.logo-img {
    height: 30px;
}

main {
    height: 100%;
    min-height: calc(100vh - 60px);
}

.banner-container {
    display: flex;
    align-items: center;
    column-gap: 100px;
    padding-right: 30px ;
}

.banner-img-container {
    position: relative;
    width: 50%;
}

.banner-img {
    width: 100%;
}

.banner-text {
    color: white;
}

.banner-description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 35px 35px 35px;
    border-radius: 15px;
    box-shadow: 7.5px 6.5px 1px rgba(120, 120, 120, 0.75);
    background-color: var(--primary);
    color: white;
}

footer {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.65rem;
}

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        height: 100%;
    }

    .header-menu ul{
        display: flex;
        height: 100%;
    }
    
    .header-menu ul li {
        display: flex;
        justify-content: center;
        width: 140px;
        height: 100%;
        padding: 0 10px;
    }

    .header-menu ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        width: 100%;
    }

    #header-menu-register {
        border-left: 1px solid rgba(96, 96, 96, 0.5);
        background-color: var(--secondary);
    }

    #header-menu-register:hover {
        background-color: var(--secondary-light);
    }

    #header-menu-register:active {
        background-color: var(--secondary-dark);
    }

    .banner-img-container {
        display: flex;
        align-items: center;    
        max-width: 50%;
        height: 800px;
        padding-top: 50px;
    }
    
    .banner-img {
        height: 650px;
        min-width: 325px;
        max-height: 650px;
        max-width: 650px;
        object-fit: cover;
        object-position: 0;
        border-left: none;
        border-radius: 0 75px 75px 0;
        box-shadow: 7.5px 7.5px 1px rgba(120, 120, 120, 0.75);
        margin: -10px;
        z-index: -1;      
    }

    .banner-text-container {
        position: absolute;
        min-width: 320px;
        width: calc(100% - 10px);
        padding: 10px 20px;
        border-left: 4px solid var(--secondary);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .text2 {
        font-size: 1.5rem;
        word-break: break-all;
        hyphens: auto;
    }

    .text1,
    .text3 {
        font-size: 2.15rem;
        word-break: break-all;
        hyphens: auto;
    }

    .banner-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 55px;
        z-index: 1;
        padding: 20px;
    }

    .banner-description {
        color: white;
        min-width: 300px;   
        
    }

    .banner-description h1 {
        border-bottom: 2px solid var(--secondary);
        padding: 15px 0;
    }

    .description-list-container {
        height: 100%;
    }

    .description-list-container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        height: 100%;
        list-style-image: url("../assets/list-arrow.svg");
        padding: 0 20px;
    }

    .banner-button {
        background-color: var(--primary);
        padding: 20px ;
        color: white;
        border: 2px solid var(--secondary-light);
        border-radius: 10px;
        box-shadow: 7.5px 7.5px 1px var(--secondary-dark);
    }
}

@media (max-width: 767px) {
    header {
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        height: 100%;
    }

    .header-menu ul{
        display: flex;
        height: 100%;
    }
    
    .header-menu ul li {
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100%;
        padding: 0 10px;
    }

    .header-menu ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        width: 100%;
    }

    #header-menu-register {
        border-left: 1px solid rgba(96, 96, 96, 0.5);
        background-color: var(--secondary);
    }

    #header-menu-register:hover {
        background-color: var(--secondary-light);
    }

    #header-menu-register:active {
        background-color: var(--secondary-dark);
    }

    .banner-container {
        position: relative;
        flex-direction: column;
        row-gap: 30px;
        padding: 0;
    }

    .banner-img-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .banner-img {
        visibility: hidden;
    }

    .banner-text-container {
        position: absolute;
        top: 35%;
        z-index: 1;
        width: 640px;
        max-width: 90%;
        padding: 10px 20px;
        border-left: 4px solid var(--secondary);
        background-color: rgba(0, 0, 0, 0.5);
        letter-spacing: 0.15rem;
    }   

    .banner-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 20px;
    }

    .banner-description {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 90%;
        padding: 20px 35px 35px 35px;
        border-radius: 15px;
        box-shadow: 7.5px 6.5px 1px rgba(120, 120, 120, 0.75);
        background-color: var(--primary);
        color: white;
    }

    .banner-description h1 {
        border-bottom: 2px solid var(--secondary);
        padding: 15px 0;
        font-size: 1.15rem;
        letter-spacing: 0.15rem;
    }

    .description-list-container {
        height: 100%;
    }

    .description-list-container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        height: 100%;
        list-style-image: url("../assets/list-arrow.svg");
        padding: 0 20px;
    }

    .banner-button {
        background-color: var(--primary);
        padding: 20px ;
        color: white;
        border: 2px solid var(--secondary-light);
        border-radius: 10px;
        box-shadow: 7.5px 7.5px 1px var(--secondary-dark);
    }

    .banner-text-container {
        width: 100%;
    }

    .text1,
    .text3 {
        font-size:  1.75rem;
    }

    footer {
        font-size: 0.5rem;
    }
}

@media (min-width: 428px) and (max-width: 767px) {
    .banner-text-container {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .text1,
    .text3 {
        font-size: 2.25rem;
    }
}