@import url('./common.css');

body {
    position: relative;
    background-image: url("../assets/task-background.svg");
    background-color: var(--primary-light);
    background-size: 400px;
    height: 100vh;
    overflow: hidden;
}

header {
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(130, 87, 229, 1);
    padding-left: 20px;
    background-color: var(--primary-dark);
}

.logo-img {
    height: 35px;
}

.header-menu {
    display: none;
    color: white;
    font-size: 0.75rem;
}

#user-profile-button {
    display: flex;
    flex-direction: column;
}

#user-profile-button img {
    height: 35px;
}

.profile-bars {
    display: flex;
    column-gap: 4px;
}

.bar {
    height: 8px;
    background-color: white;
    width: 2px;
}

.bar1 {
    transform: rotate(-57.5deg);
}
.bar2 {
    transform: rotate(60deg);
}

#profile-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    top: 70px;
    right: 15px;
    border-radius: 15px;
    box-shadow: 6.5px 3.5px 1px var(--secondary-dark);
    background-color: var(--primary-dark);
    width: 250px;
    height: 0;
    transition: 100ms;
    visibility: hidden;
    padding: 15px 20px 0px;
    color: white;
}

#profile-pic {
    height: 100px;
    border-radius: 100%;
    background-color: var(--light-grey);
    border: 1px solid var(--primary-dark);
    outline: 2px solid var(--secondary);
}

#profile-name {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
}

#profile-email {
    text-justify: center;
    background-color: var(--secondary);
    font-size: 0.5rem;
    letter-spacing: 0.15rem;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 99%;
    overflow: hidden;
}

#profile-password-change {
    color: white;
    font-size: 0.65rem;
    letter-spacing: 0.10rem;
}

#profile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: var(--secondary);
    color: white;
    border-radius: 0 0 10px 15px;
    height: 50px;
    width: 250px;
    font-size: 0.65rem;
    letter-spacing: 0.15rem;
}

#profile-logout img {
    height: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workspace {
    display: flex;
    height: 100%;
    width: 100%;

}

.tools-ribbon {
    background-color: var(--primary-dark);
    height: 120px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    width: calc(100% - 40px);

}

.pending-list-area {
    width: 65%;
    margin: 35px 10px 20px 20px;
}

.pending-list {
    background-color: rgba(32, 32, 32, 0.65);
    box-shadow: inset -1px 1px 3px rgba(20, 20, 20, 0.25);
    border-radius: 0 0 15px 15px;
    padding: 50px 20px;
    height: 100%;
}

.pending-task {
    color: white;
}

.done-list-area {
    width: 35%;
    margin: 35px 20px 20px 10px;
}

.done-list {
    background-color: rgba(32, 32, 32, 0.65);
    box-shadow: inset -1px 1px 3px rgba(20, 20, 20, 0.25);
    border-radius: 0 0 15px 15px;
    padding: 50px 20px;
    height: 100%;
}

.done-task {
    color: white;
}

.list-title {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--secondary);
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    max-height: 50px;
}

.list-title p {
    color: white;
    letter-spacing: 0.20rem;
}

.list-title ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-right: 10px;
}


.list-title a {
    color: var(--light-grey);
    font-size: 2.25rem;
}

.list-title a:hover {
    color: var(--secondary-light);
}

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        height: 100%;
    }

    .header-menu ul{
        display: flex;
        height: 100%;
    }
    
    .header-menu ul li {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .header-menu ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        width: 100%;
        padding: 0 10px;
    }

    #header-menu-register {
        border-left: 1px solid rgba(96, 96, 96, 0.5);
        background-color: var(--secondary);
    }

    #header-menu-register:hover {
        background-color: var(--secondary-light);
    }

    #header-menu-register:active {
        background-color: var(--secondary-dark);
    }
}
