@import url('./common.css');

body {
    height: 100vh;
    background-color: var(--primary);
    overflow: hidden;
}

header {
    height: 55px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(130, 87, 229, 1);
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 1);
}

.header-menu {
    display: none;
    color: white;
    font-size: 0.75rem;
}

main {
    background-image: url("../assets/task-background.svg");
    background-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    height: 35px;
}

.workspace {
    display: flex;
    height: 100%;
    width: 100%;

}

.tools-ribbon {
    background-color: var(--primary-dark);
    height: 65px;
    width: 100%;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.pending-list {
    position: relative;
    background-color: #202020;
    box-shadow: inset -1px 1px 3px rgba(20, 20, 20, 0.25);
    border-radius: 15px;
    min-height: 80vh;
    margin: 35px 10px 20px 20px;
    padding: 50px 20px;
    width: 65%;
}

.pending-task {
    color: white;
}

.done-list {
    position: relative;
    width: 35%;
    background-color: #202020;
    box-shadow: inset -1px 1px 3px rgba(20, 20, 20, 0.25);
    border-radius: 15px;
    min-height: 80vh;
    margin: 35px 20px 20px 10px;
    padding: 50px 20px;
}

.done-task {
    color: white;
}

.list-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: var(--primary-dark);
    box-shadow: 0px 1px 1px var(--secondary);
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    letter-spacing: 0.20rem;
}

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    .header-menu {
        display: flex;
        height: 100%;
    }

    .header-menu ul{
        display: flex;
        height: 100%;
    }
    
    .header-menu ul li {
        display: flex;
        justify-content: center;
        width: 140px;
        height: 100%;
        padding: 0 10px;
    }

    .header-menu ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        width: 100%;
    }

    #header-menu-register {
        border-left: 1px solid rgba(96, 96, 96, 0.5);
        background-color: var(--secondary);
    }

    #header-menu-register:hover {
        background-color: var(--secondary-light);
    }

    #header-menu-register:active {
        background-color: var(--secondary-dark);
    }
}
